html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*
 * Global layout stuff
 */
body {
  color: #545149;
  background-color: #f8ebd6;
  font-family: 'Source Sans Pro', sans-serif;
}
.main-content {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 799px) {
 .main-content {
   flex-direction: column;
 
 }
  main {
    width: 100%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Source Sans Pro', sans-serif;
  }
  section.new-tweet {
    margin: 0 4em 2em 4em;
    display: flex;
    flex-direction: column;
  }
  header.avatar {
    width: 100%;

  }
 
  nav {
    background-color: #006bc9;  
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
    position: sticky;
    z-index: 1;
  }
}
@media only screen and (min-width: 800px) {
  
  header.avatar{
    width: 60%;
    margin: 14em 2em; 
    flex-grow: 0;  
  }

  main {
    width: 100%;
    margin: 14em 1em;
    margin-right: 2em;
   
  }
 
  nav {
    position: fixed;
    background-color:#4056A1;
  }
} ;